@import "tailwindcss";

@font-face {
  font-family: "SuttonSignWritingOneD";
  src:
    local('SuttonSignWritingOneD'),
    url('./fonts/SuttonSignWritingOneD.woff2') format('woff2');
}

.swu {
  font-family: SuttonSignWritingOneD;
}
